@charset 'utf-8';
*{box-sizing: border-box;}
body{background:#E2E1E0;}
.photo{
	width: 150px;
	height: 150px;
	padding: 0;
	margin: 0;
}
.font-family{
	font-family: 'Archivo Black', sans-serif;
	background-color:#536DFE;
	color: white;
}
.profile-box{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.profile-box:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media only screen and (min-width: 992px){
	.size-img{
		height: 450px;
	}
	.profile-pic{
		width:100px;
		height: 100px;
		margin:10px 0 0 -5px;
	}
}
@media only screen and (max-width: 992px) and (min-width: 768px){
	.size-img{
		height: 460px;
		width:500px;
		margin: 0 auto;
	}
	.profile-pic{
		width:200px;
		height: 200px;
		margin:10px 0 0 -5px;
	}
}
@media only screen and (max-width:768px){
	.profile-box{
		margin-bottom: 20px;
	}
	.size-img{
		height: 250px;
		margin: 0 auto;
	}
	.profile-pic{
		width:200px;
		height: 200px;
		margin:15px 0 0 100px;
	}
}